@import "tailwindcss";

.App{
    background-color: oklch(98.5% 0.002 247.839);
}
/* Scroll To Top Button */
.scroll-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  padding: 0.75rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 1000;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-btn:hover {
  transform: translateY(-3px);
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0,0,0,0.2);
}

.icon-white {
  color: white;
  width: 24px;
  height: 24px;
}
